.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.poke-displayer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.basic-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px #000;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 2em;
    border-top : solid 1px #000;
    border-bottom : solid 1px #000;
    margin-bottom : 25px;
}
.grass{
    background-color: rgba(0, 128, 0, 0.7);
}
.fire{
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}
.water{
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
}
.electric{
    background-color: rgba(255, 255, 0, 0.7);
}
.normal{
    background-color: rgba(182, 178, 179, 0.7);
}
.poison{
    background-color: rgba(128, 0, 128, 0.7);
    color: white;
}
.fighting{
    background-color: rgba(165, 42, 42, 0.7);
}
.flying{
    background-color: rgba(255, 166, 0, 0.7);
    color: black;
}
.psychic{
    background-color: rgba(255, 192, 203, 0.7);
    color: black;
}
.bug{
    background-color: rgba(153, 205, 50, 0.7);
}
.rock{
    background-color: rgba(165, 42, 42, 0.7);
}
.ghost{
    background-color: rgba(128, 0, 128, 0.7);
    color: white;
}
.dark{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.ice{
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
}
.dragon{
    background-color: rgba(255, 166, 0, 0.7);
    color: black;
}
.steel{
    background-color: rgba(192, 192, 192, 0.7);
    color: black;
}
.fairy{
    background-color: rgba(255, 192, 203, 0.7);
    color: black;
}
.ground{
    background-color: rgba(210, 182, 92, 0.7);
}
.card-image{
    margin: 1em;
}
.poke-name{
    font-size: 1.5em;
    font-weight: bold;
    margin: .5em;
}
.poke-type{
    font-size: 1em;
    font-weight: bold;
    margin: .5em;
}
.poke-img{
    width: 200px;
    height: 200px;
}
.poke-id{
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    width: 4em;
    text-align: center;
    margin: .5em;
}
.adv-card{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 30%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}
.poke-stats-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
}
.poke-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 9em;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}
.poke-stat-name{
    font-size: 1em;
    margin: .5em;
    color: black;
}
.poke-stat-value{
    font-size: 1.5em;
    font-weight: bold;
    margin: .5em;
    color: black;
}
.backlight{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}
/* -------------------------------------------------------------------- */

@media screen and (max-width: 1000px){
    .card{
        width: 100%;
        height: 100%;
    }
    .poke-stats{
        width: 5.5em;
        height: 5.5em;
        margin: 5px;
    }
}