.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.poke-displayer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.basic-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px #000;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 2em;
    border-top : solid 1px #000;
    border-bottom : solid 1px #000;
    margin-bottom : 25px;
}
.grass{
    background-color: rgba(0, 128, 0, 0.6);
}
.fire{
    background-color: rgba(255, 0, 0, 0.6);
}
.water{
    background-color: rgba(0, 0, 255, 0.6);
}
.electric{
    background-color: rgba(255, 255, 0, 0.6);
}
.normal{
    background-color: rgba(182, 178, 179, 0.6);
    color: black;
}
.poison{
    background-color: rgba(128, 0, 128, 0.6);
}
.fighting{
    background-color: rgba(165, 42, 42, 0.6);
}
.flying{
    background-color: rgba(255, 166, 0, 0.6);
    color: black;
}
.psychic{
    background-color: rgba(255, 192, 203, 0.6);
    color: black;
}
.bug{
    background-color: rgba(153, 205, 50, 0.6);
}
.rock{
    background-color: rgba(165, 42, 42, 0.6);
}
.ghost{
    background-color: rgba(128, 0, 128, 0.6);
}
.dark{
    background-color: rgba(0, 0, 0, 0.6);
}
.ice{
    background-color: rgba(0, 0, 255, 0.6);
}
.dragon{
    background-color: rgba(255, 166, 0, 0.6);
    color: black;
}
.steel{
    background-color: rgba(192, 192, 192, 0.6);
    color: black;
}
.fairy{
    background-color: rgba(255, 192, 203, 0.6);
    color: black;
}
.ground{
    background-color: rgba(210, 182, 92, 0.6);
}
.poke-name{
    font-size: 1.5em;
    font-weight: bold;
}
.poke-type{
    font-size: 1em;
}
.poke-img{
    width: 200px;
    height: 200px;
}
.poke-id{
    font-size: 1em;
}